<!DOCTYPE html>
<html>

<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>

<body>

  <header class="main-header"></header>

  <nav class="navigation-menu">
    <a role="scroll-to-top" class="home"></a>
    <a href="#manifesto">Manifesto</a>
    <a href="#who-we-are" class="-active">Who we are</a>
    <a href="#what-we-do">What we do</a>
    <a href="https://github.com/remoto-me" target="_blank">GitHub</a>
  </nav>

  <div class="main-content">
    {{ content }}
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/assets/javascript/main.js"></script>

</body>

</html>