.main-header
  height: 24rem
  margin-bottom: 3rem

  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: strech


  > .logo
    background-color: $color-primary
    flex-grow: 2

  > .description
    background-color: $color-secondary
    flex-grow: 3

